* {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* start main section */
.main{
  width: 100%;
  margin: 100px auto;
  text-align: center;

  }

.facility{
  margin: 40px auto;

}

.facility table{
  margin: 40px auto;
}


/* end main section */
